<!DOCTYPE html>
<html lang="en">
    <%- include("./html-elements/head.ejs") %>
    <body>
        <%- include("./html-elements/nav.ejs") %>

    <div class="not-found content">
        OOPS, PAGE NOT FOUND :)
    </div>

    <%- include("./html-elements/footer.ejs")  %>

</body>
</html>