<!DOCTYPE html>
<html lang="en">
    <%- include("./html-elements/head.ejs") %>
    <body>
        <%- include("./html-elements/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto fugit optio suscipit temporibus quo fugiat minus libero quis cupiditate aliquam officiis, molestiae ullam, assumenda dolorem deleniti eum harum asperiores reprehenderit sunt placeat soluta, rerum explicabo. Placeat libero vel unde, dolorum ex tempore consequatur quisquam voluptate dolore, quas, eius et saepe.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam cupiditate animi consequatur sit exercitationem nihil laudantium officiis, sint, nostrum veritatis numquam ullam inventore fuga modi nemo at impedit deleniti vero asperiores harum? Ipsum, dolorum asperiores. Neque magni perferendis inventore culpa, iste sed illo, dolor ea voluptates dignissimos consectetur minus maxime!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aperiam aspernatur voluptatum? Harum voluptatem ipsa corrupti nemo nulla cum velit. Quia, explicabo. Culpa earum voluptate, odit nihil dolor possimus minima amet labore cupiditate fugit quia atque, aspernatur tenetur. Ad corporis, tempora nulla maxime ex in quasi mollitia magnam veniam ea?</p>

    </div>

    <%- include("./html-elements/footer.ejs") %>
</body>
</html>