<!DOCTYPE html>
<html lang="en">
    <%- include("./html-elements/head.ejs") %>
    <body>
        <%- include("./html-elements/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Hello and welcome to my blog! I'm thrilled to have you here on this journey of exploration and learning. I'm Hemal Modi, the creator of this blog and your companion in the world of thoughts and ideas.</p>
        <br>
        <h3><stron>My Journey</stron></h3>
        <p>This blog represents a labor of love and a dedication to honing my skills in web development. From crafting lines of code to designing the layout, every aspect of this blog has been a step forward in my personal growth. It's not just a website; it's a testament to my journey of self-improvement and creative expression.
        </p>
        <br>
        <h3><strong>What I've Built</strong></h3>
        <p>Using HTML, CSS, EJS, NodeJS, MongoDB, and ExpressJs, I've put together a blog that I'm proud to share with you. It's a place where I've experimented with different technologies and techniques, all coming together to create a user-friendly interface that allows you to read, write, and connect.</p>
        <br>
        <h3><strong>Join Me</strong></h3>
        <p>I invite you to explore my articles, insights, and experiences. As I continue to grow and learn, this blog will evolve too. Your presence here is a source of motivation for me to keep pushing my boundaries and delivering meaningful content.
            <br>
            Thank you for being a part of my journey. Here's to learning, coding, and the wonderful world of web development!</p>
    </div>

    <%- include("./html-elements/footer.ejs") %>
</body>
</html>